<!-- app/views/comments/_form.html.erb -->
<%= form_with(model: [ @post, @comment || @post.comments.build ]) do |form| %>
  <% if @comment.present? %>
    <%= form.hidden_field :parent_id, value: @comment.id %>
  <% end %>

  <p>
    <%= form.label :content %><br>
    <%= form.text_area :content %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
